<table class="tx-slub-events" >
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.start_date_time" />
		</td>
		<td>
			{event.startDateTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.all_day" />
		</td>
		<td>
			{event.allDay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.end_date_time" />
		</td>
		<td>
			{event.endDateTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.sub_end_date_time" />
		</td>
		<td>
			{event.subEndDateTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.teaser" />
		</td>
		<td>
			{event.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.min_subscriber" />
		</td>
		<td>
			{event.minSubscriber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.max_subscriber" />
		</td>
		<td>
			{event.maxSubscriber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.audience" />
		</td>
		<td>
			{event.audience}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.sub_end_date_info_sent" />
		</td>
		<td>
			{event.subEndDateInfoSent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.genius_bar" />
		</td>
		<td>
			{event.geniusBar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_event.cancelled" />
		</td>
		<td>
			{event.cancelled}
		</td>
	</tr>
</table>