{namespace se=Tx_SlubEvents_ViewHelpers}

<label for="name" class="{errors.val_name}">
	<f:translate key="tx_slubevents_domain_model_subscriber.name" /> <span class="required">*</span>
</label>
	<f:form.textfield class="{readonly} {errors.val_name}" property="name" value="{subscriber.name}"/><br />
<label for="email" class="{errors.val_email}">
	<f:translate key="tx_slubevents_domain_model_subscriber.email" /> <span class="required">*</span>
</label>
	<f:form.textfield class="{readonly} {errors.val_email}" property="email"  value="{subscriber.email}"/><br />

<label for="customerid" class="{errors.val_customerid}">
	<f:translate key="tx_slubevents_domain_model_subscriber.customerid" />
</label>
	<f:form.textfield class="{readonly} {errors.val_customerid}" property="customerid" value="{subscriber.customerid}" /><br />

<p>Haben Sie schon jetzt konkrete Fragen? Stellen Sie sie uns, damit wir uns auf das Gespräch vorbereiten können.</p>
<label for="message" class="{errors.val_message}">
	<f:translate key="tx_slubevents_domain_model_subscriber.message" />
</label>
	<f:form.textarea class="{readonly} {errors.val_message}" property="message" value="{subscriber.message}" cols="60" rows="8" /><br />

<f:form.hidden property="number" value="1"/>

<f:form.hidden property="editcode" value="{subscriber.editcode}"/>


