<table class="tx-slub-events" >
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.name" />
		</td>
		<td>
			{subscriber.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.email" />
		</td>
		<td>
			{subscriber.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.telephone" />
		</td>
		<td>
			{subscriber.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.customerid" />
		</td>
		<td>
			{subscriber.customerid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.number" />
		</td>
		<td>
			{subscriber.number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.message" />
		</td>
		<td>
			{subscriber.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_subscriber.editcode" />
		</td>
		<td>
			{subscriber.editcode}
		</td>
	</tr>
</table>