{namespace se=Slub\SlubEvents\ViewHelpers}
<p>{f:translate(key: 'text.salutation', languageKey: language)} {event.contact.name},</p>

<p><f:translate key='text.maximumreached' arguments="{0: event.maxSubscriber}" languageKey="{language}"/></p>

<p><strong>{event.title}</strong></p>

<p>
	<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />"/>
</p>

<f:if condition="{helper.location}">
	<f:then>
		<p><strong>{f:translate(key: 'tx_slubevents_domain_model_location', languageKey: language)}:</strong><br/>{helper.location}</p>
		<f:format.html>{event.location.description}</f:format.html>
	</f:then>
</f:if>


<p><b><f:translate key='text.participants.current' languageKey="{language}"/></b><br/>
<ol>
	<f:for each="{subscribers}" as="subscriber">
		<f:if condition="{subscriber.number} == 1">
			<f:then>
				<li>{subscriber.name}, {subscriber.email}, {subscriber.customerid}, {subscriber.number} Person
					<f:if condition="{subscriber.message}">
						<br/>
						<f:translate key="tx_slubevents_domain_model_subscriber.message" languageKey="{language}"/>
						: {subscriber.message}
					</f:if>
				</li>
			</f:then>
			<f:else>
				<li>{subscriber.name}, {subscriber.email}, {subscriber.customerid}, {subscriber.number} Personen</li>
			</f:else>
		</f:if>
	</f:for>
</ol>

<p><f:translate key='text.participants.hint' languageKey="{language}"/></p>

<p>{f:translate(key: 'text.closing', languageKey: language)}</p>

<p>&nbsp;</p>

<p>{f:translate(key: 'text.signature', languageKey: language)}</p>
