{namespace se=Slub\SlubEvents\ViewHelpers}
<h1>Monats-Auswertung aller Veranstaltungen</h1>

<p>
	Die Auswertung von insgesamt <strong>{events -> f:count()}</strong>
	<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:tx_slubevents_domain_model_event' languageKey="{language}"/>
	des Monats <strong>
	<f:format.date date="{events.0.startDateTime}" format="%B %Y"/>
</strong> finden Sie in der angehängten CSV-Datei.
</p>

<p>
	<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:text.closing' languageKey="{language}"/>
</p>

<p>
	<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:text.signature' languageKey="{language}"/>
</p>
