{namespace se=Slub\SlubEvents\ViewHelpers}
<p>{f:translate(key: 'text.salutation')} {subscriber.name},</p>

<p>Sie haben sich erfolgreich von der folgenden Veranstaltung abgemeldet:</p>

<p><b>{event.title}</b></p>

<p>
	<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />"/>
</p>

<f:if condition="{helper.location}">
	<f:then>
		<p><b>Veranstaltungsort: </b><br/>{helper.location}</p>
		<f:format.html>{event.location.description}</f:format.html>
	</f:then>
</f:if>

<f:if condition="{subscriber.customerid}">
	<f:then>
		<p>{f:translate(key: 'text.my_events.intro')}:<br/>
			<f:link.action absolute="1" action="listOwn" controller="Event" pageUid="{settings.pidListOwn}"
						   pluginName="Eventuserpanel">
				<f:translate key="view_my_events"/>
			</f:link.action>
		</p>
	</f:then>
</f:if>


<p>{f:translate(key: 'text.closing')}</p>

<p>&nbsp;</p>

<p>{event.contact.name} <br/>{f:translate(key: 'text.signature')}</p>

