<f:layout name="Default" />

<f:section name="content">
<f:flashMessages />

<f:be.container
	pageTitle="Veranstaltungsmanagement"
	enableJumpToUrl="true"
	enableClickMenu="true"
	loadPrototype="true"
	loadExtJs="true"
	loadExtJsTheme="true"
	extJsAdapter="ext-all"
	enableExtJsDebug="false"
	addCssFile="{f:uri.resource(path:'Css/slub-event-backend.css')}">


<h1>Online Umfrage versenden.</h1>

{namespace se=Tx_SlubEvents_ViewHelpers}

<div class="tx_slubevents">
<f:form action="beOnlineSurvey" controller="Subscriber" name="onlineSurvey" method="post">

	<f:if condition="{step} == 0">
		<f:then>
			<p><b>Prüfen</b></p>
			<f:if condition="{onlineSurveyLastSent}">
				<f:then>
				<div class="error">
					<p>Achtung, der Fragebogen wurde bereits am <se:format.date date='@{onlineSurveyLastSent}' format="%c"/> versendet!</p>
				</div>
				</f:then>
			</f:if>
			<div class="emailtext">
				<p>Senden Sie im Namen von
				<b>{event.contact.name}	({event.contact.email})</b>
				folgende Einladung zu einer Online-Umfrage an alle Teilnehmer:</p>
				<ul>
				<f:for each="{subscribers}" as="subscriber">
					<li>{subscriber.name} --> {subscriber.email}, {subscriber.number} <f:if condition="{subscriber.number} == 1"><f:then>Person</f:then><f:else>Personen</f:else></f:if></li>
				</f:for>
				</ul>
			</div>

			<p>
				<div class="emailtext">
					<f:format.html>
						{emailText}
					</f:format.html>
				</div>
			</p>
			<p>
			<f:form.hidden name="step" value="1" />
			<f:form.hidden name="event" value="{event}" />
			<f:form.submit value="Sende Email" />
			</p>
		</f:then>
	</f:if>

	<f:if condition="{step} == 1">
		<f:then>
			<p><b>Versendet</b></p>
			<p>Die Online-Umfrage wurde an folgende Email-Adressen versendet:</p>
			<div class="emailtext">
			<ul>
			<f:for each="{subscribers}" as="subscriber">
				<li>{subscriber.name} --> {subscriber.email}, {subscriber.number} <f:if condition="{subscriber.number} == 1"><f:then>Person</f:then><f:else>Personen</f:else></f:if></li>
			</f:for>
			</ul>
			</div>
		</f:then>
	</f:if>

	</div>
</f:form>
</div>

<p>
<f:link.action controller="Event" action="beList"><f:translate key="paginate_back"/></f:link.action><br />
</p>

</f:be.container>

</f:section>
