<f:form.validationResults for="{obj}">
 <f:if condition="{validationResults.flattenedErrors}">
        <ul class="slub-event-error">
	    <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
		<f:for each="{errors}" as="singleError">
		    <f:if condition="{singleError.code} < 2000">
			<f:then>
			    <li><f:translate key="validationerror_{singleError.message}" /></li>
			</f:then>
		       </f:if>
		</f:for>
	    </f:for>
	</ul>
    </f:if>
</f:form.validationResults>
