<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Event</h1>

<f:flashMessages />

<table  class="tx_slubevents" >
	<tr>
		<th><f:translate key="tx_slubevents_domain_model_event.title" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.start_date_time" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.all_day" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.end_date_time" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.sub_end_date_time" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.teaser" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.description" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.min_subscriber" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.max_subscriber" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.audience" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.sub_end_date_info_sent" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.genius_bar" /></th>
		<th><f:translate key="tx_slubevents_domain_model_event.cancelled" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td><f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.startDateTime -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.allDay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.endDateTime -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subEndDateTime -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.teaser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.minSubscriber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.maxSubscriber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.audience}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subEndDateInfoSent}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.geniusBar}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.cancelled}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>
</f:section>