<label for="name">
	<f:translate key="tx_slubevents_domain_model_subscriber.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_slubevents_domain_model_subscriber.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="telephone">
	<f:translate key="tx_slubevents_domain_model_subscriber.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="customerid">
	<f:translate key="tx_slubevents_domain_model_subscriber.customerid" />
</label><br />
	<f:form.textfield property="customerid" /><br />
<label for="number">
	<f:translate key="tx_slubevents_domain_model_subscriber.number" />
</label><br />
	<f:form.textfield property="number" /><br />
<label for="message">
	<f:translate key="tx_slubevents_domain_model_subscriber.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="editcode">
	<f:translate key="tx_slubevents_domain_model_subscriber.editcode" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="editcode" /><br />