<label for="name">
	<f:translate key="tx_slubevents_domain_model_subscriber.name"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textfield id="name" property="name"/><br/>
<label for="email">
	<f:translate key="tx_slubevents_domain_model_subscriber.email"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textfield id="email" property="email"/><br/>
<label for="telephone">
	<f:translate key="tx_slubevents_domain_model_subscriber.telephone"/>
</label><br/>
<f:form.textfield id="telephone" property="telephone"/><br/>
<label for="customerid">
	<f:translate key="tx_slubevents_domain_model_subscriber.customerid"/>
</label><br/>
<f:form.textfield id="customerid" property="customerid"/><br/>
<label for="number">
	<f:translate key="tx_slubevents_domain_model_subscriber.number"/>
</label><br/>
<f:form.textfield id="number" property="number"/><br/>
<label for="message">
	<f:translate key="tx_slubevents_domain_model_subscriber.message"/>
</label><br/>
<f:form.textarea id="message" property="message" cols="40" rows="15"/><br/>
<label for="editcode">
	<f:translate key="tx_slubevents_domain_model_subscriber.editcode"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textfield id="editcode" property="editcode"/><br/>
<label for="crdate">
	<f:translate key="tx_slubevents_domain_model_subscriber.crdate"/>
</label><br/>
<f:form.textfield id="crdate" property="crdate" value="{subscriber.crdate->f:format.date()}"/><br/>
