{namespace se=Tx_SlubEvents_ViewHelpers}
<p>Sehr geehrte(r) {event.contact.name},</p>

<p><b>{event.title}</b></p>

<p>
<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />" />
</p>

<f:if condition="{helper.location}">
	<f:then>
<p><b>Veranstaltungsort: </b><br/>{helper.location}</p>
<f:format.html>{event.location.description}</f:format.html>
	</f:then>
</f:if>


<p><b>Teilnehmerliste </b><br/>
<ol>
<f:for each="{subscribers}" as="subscriber">
		<li>{subscriber.name}, {subscriber.email},
			<f:if condition="{subscriber.customerid}"><f:then>{subscriber.customerid},</f:then></f:if>
			<f:if condition="{subscriber.telephone}"><f:then>{subscriber.telephone},</f:then></f:if>
			<f:if condition="{subscriber.institution}"><f:then>{subscriber.institution},</f:then></f:if>
			<f:if condition="{subscriber.message}"><f:then>{subscriber.message},</f:then></f:if>
			{subscriber.number}
			<f:if condition="{subscriber.number} == 1">
				<f:then>Person</f:then>
				<f:else>Personen</f:else>
			</f:if>
		</li>
</f:for>
</ol>

<p>Bitte bedenken Sie, dass sich die Teilnehmerliste durch Ab- und Anmeldungen noch ändern kann.</p>

<p>Mit freundlichen Grüßen</p>

<p>&nbsp;</p>

<p>SLUB Dresden</p>

