{namespace se=Slub\SlubEvents\ViewHelpers}
<p>Monats-Auswertung aller Veranstaltungen</p>

<p>
<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:tx_slubevents_domain_model_event' />
</p>

<ul>
<f:for each="{events}" as="event" key="label">
<f:if condition="{event.geniusBar}">
	<f:else>
<li>{event.uid}: "<se:format.date date='{event.startDateTime}' format='%x' />",
<f:for each="{event.categories}" as="category">
	"{category.title}"
</f:for>
,
"{event.location.name}",
"<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang_db.xml:tx_slubevents_domain_model_event.audience.I.{event.audience}' />",
"{event.discipline.name}",
"{event.title}",
"<se:format.BookedPlaces event='{event}' />",
"{subscriber.number}"</li>
	</f:else>
</f:if>
</f:for>

</ul>

<p>
<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:tx_slubevents_domain_model_event.genius_bar' />
</p>

<ul>
<f:for each="{events}" as="event" key="label">
<f:if condition="{event.geniusBar}">
	<f:then>
	<f:if condition="<se:format.BookedPlaces event='{event}' /> > 0">
		<li>{event.uid}: "<se:format.date date='{event.startDateTime}' format='%x' />",
		<f:for each="{event.categories}" as="category">
			"{category.title}"
		</f:for>
		,
		"{event.location.name}",
		"<f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang_db.xml:tx_slubevents_domain_model_event.audience.I.{event.audience}' />",
		"{event.discipline.name}",
		"{event.title}",
		"<se:format.BookedPlaces event='{event}' />",
		"{subscriber.number}"</li>
</f:if>
	</f:then>
</f:if>
</f:for>

</ul>

<p><f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:text.closing' /></p>
<p>&nbsp;</p>
<p><f:translate key='LLL:EXT:slub_events/Resources/Private/Language/locallang.xlf:text.signature' /></p>

