.slub-event-show div.location {
	background: #e1f4f7 url(../../../../../../fileadmin/images/homepage/extraboxbg.png) no-repeat left center;
	padding: 7px 10px 7px 35px;
	color: #167;
	clear: both;
}
#leftcol .slub-event-show div.location p {
	margin: 0;
}
.slub-event-list {
	background: transparent;
}
#leftcol .slub-event-list ul {
	margin: 0px;

}

#slub-category-month-list ul {
	list-style: none;
}
.slub-event-list ul li {
	margin: 0.2em 0;
	padding: 0.3em 0.5em;
	border: 1px solid #bdd;
	vertical-align: middle;
	text-align: left;
	list-style: none;
}

.slub-event-list .teaser ul li {

}
.slub-event-list ul li.heading {
	list-style: none;
	border: none;
}

.slub-event-list ul.f3-widget-paginator {
	width: 100%;
	padding: 0.3em 0;
	border: 1px solid #bdd;
	vertical-align: middle;
	text-align: left;
	height: 22px;
	margin: 0px;
}
.slub-event-list ul.f3-widget-paginator li {
	float: left;
	list-style: none;
	border: none;
	margin: 0;
	padding: 0.2em 0.4em;
}

.slub-event-list li.Odd {
}
.slub-event-list li.Even {
	background: #e1f4f7;
}

.slub-event-gblist .contacts,
.slub-event-show .contacts {
	width: 100%;
	border-top: 1px dotted #ccc;
	position: relative;
	margin: 20px 0;
}
#leftcol .slub-event-gblist .contacts>p:first-child { color: #999; font-weight: 600; font-size: 11px; margin: 0 55px 0 0; float: right; }
#leftcol .slub-event-gblist .contacts:before { content: " "; position: absolute; right: 0; top: -10px; width: 50px; height: 30px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAeCAMAAACL37eWAAAANlBMVEUAAACZmZn///+fn5/l5eWzs7PMzMzs7OysrKz5+fm5ubny8vLZ2dmmpqbGxsbf39/S0tK/v7/bgyiFAAAAAXRSTlMAQObYZgAAAXhJREFUeF6VlFmupEAMBAnXzs79LzvCSjVG01Lr5Q+UiQRvYvrIzHR9NH1VhBxfC/Q6ZPhitahRcKUmv/TGj1prc35GSou9FPC2AVAWswzMyzgTXDeVZ6CvMghPKIdhOxQvApJfXFyR78BVLw8XOOwWsNiBxP40MANN71o+fIJhG/RsY3azKZ2qVK1DfuXTcM5u3xn56nyB7PU21ZtlFiLDiaIbZLtCPzN05/fIL/hpXN6SFipcgGxmI8GqejWirSSgjh0JerMCqeZ1gzQefnQRs+6Km0lrS0jrs07LhcQGdO9n82DWI7q3yfEjEbWblL/EJ7PD7WfO+dw0eEmVF2XXx80vCdJh6hqbBVVgHf6tDpSbn7Xpmu8a+ZGg6XABp00LcJgEDIuab+YxpDFVKCHfmE7cFNPMphJSyPK++XiYJ2X4k9fnJ8B+8hLw4tsPPpGmnf4sxl4OP0hmY57DmrXa4t/o//+MFE5TQCL+LSI+IBEX8/ZPf9U/glEOTxpyFjgAAAAASUVORK5CYII=) no-repeat 0 0; }

.slub-event-gblist .single-contact,
.slub-event-show .single-contact {
	margin: 10px 0;
	clear: both;
	border-top: 1px dotted #ccc;
	padding: 10px 0;
}
.slub-event-gblist .single-contact .photo,
.slub-event-show .single-contact .photo {
	float: left;
	margin: 0 10px 10px 0;
}
.slub-event-gblist .single-contact .photo img,
.slub-event-show .single-contact .photo img {
	width: 100px;
	height: auto;
	border: 1px solid #999;
}
.slub-event-gblist .single-contact .description,
.slub-event-show .single-contact .description {
	font-size: 11px;
}
.slub-event-gblist .single-contact .description p,
.slub-event-show .single-contact .description p {
	margin: 0 !important;
}
.slub-event-gblist .single-contact .name,
.slub-event-show .single-contact .name {
	font-weight: bold;
	color: #900;
	display: block;
}

.slub-event-register div.subscription,
.slub-event-show div.subscription,
.slub-event-list div.subscription {
	float: right;
}
.slub-event-list div.teaser {
	float: left;
}
.slub-category-list div.clear,
.slub-event-list div.clear {
	clear: both;
}

.slub-event-show ul.slub-event-error,
.slub-event-register ul.slub-event-error {
	padding: 1em 1em 1em 2em;
	border: 1px solid red;
	font-size: 120%;
	font-weight: bold;
}

.slub-event-show form label.error,
.slub-event-register form label.error {
	color: red;
	font-weight: bold;
}

#leftcol .slub-event-register form input.error[type="text"],
#leftcol .slub-event-register form input.error[type="email"],
#leftcol .slub-event-register form input.error[type="number"] {
	border-bottom: 1px solid red;
}
#leftcol .slub-event-register input[type="text"],
#leftcol .slub-event-register input[type="email"],
#leftcol .slub-event-register input[type="number"],
#leftcol .slub-event-register textarea {
	padding: 3px;
	display: block;
	border: none;
	border-bottom: 1px solid #333;
	width: 60%;
	margin: 2px 0;
	font-size: 13px;
	float: left;
	text-align: left;
	background: #fff;
}

.slub-event-register .event-short ul {
	margin: 0.2em 0;
	padding: 0.3em 0.5em;
	border: 1px solid #bdd;
	vertical-align: middle;
	text-align: left;
}

.slub-event-register .event-short ul li {
	list-style: none;
}


.slub-category-list {
	background: transparent;
}

.slub-category-list ul li
 {
	margin: 2px;
}

.slub-category-list ul li:hover {

}


.slub-category-list ul li a {
	display: block;
	padding: 5px;
}
.slub-category-list li span.nooffer {
	display: block;
	padding: 5px;
}

.slub-category-list li.nooffer {
	opacity: 0.5;
}

#leftcol .slub-category-list ul {
	margin: 5px;
}

#leftcol .slub-category-list form label {
	float: none;
	width: 100%;
}

#leftcol .slub-category-list form input[type="radio"] {
   -webkit-appearance: none;
	display: none;
	padding: 20px;
	margin: 0;
	width:100%;
    height:150px;
    vertical-align:middle;
    cursor: pointer;
	display:inline-block;
}

#leftcol .slub-category-list form input[type="radio"]:checked {
	border: 5px solid #d3ebee;
	width:100%;
    height:150px;
    vertical-align:middle;
    cursor: pointer;
	display:inline-block;
}


.slub-category-list div.submit,
.slub-event-register div.submit  {
	width: 100%;
	float: left;
}

#content a {
	text-decoration: none;
}

.slub-category-list li#category-5 {
/*
	background: url('../Images/Wissensbar/ta-0.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-6 {
/*
	background: url('../Images/Wissensbar/ta-1.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-7 {
/*
	background: url('../Images/Wissensbar/ta-2.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-8 {
/*
	background: url('../Images/Wissensbar/ta-3.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-9 {
/*
	background: url('../Images/Wissensbar/ta-5.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-10 {
/*
	background: url('../Images/Wissensbar/ta-6.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-11 {
/*
	background: url('../Images/Wissensbar/ta-7.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-12 {
/*
	background: url('../Images/Wissensbar/ta-8.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-13 {
/*
	background: url('../Images/Wissensbar/ta-10.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-14 {
/*
	background: url('../Images/Wissensbar/ta-11.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-15 {
/*
	background: url('../Images/Wissensbar/ta-12.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-16 {
/*
	background: url('../Images/Wissensbar/ta-13.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-17 {
/*
	background: url('../Images/Wissensbar/ta-6.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-18 {
/*
	background: url('../Images/Wissensbar/ta-7.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-19 {
/*
	background: url('../Images/Wissensbar/ta-8.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-20 {
/*
	background: url('../Images/Wissensbar/ta-10.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-21 {
/*
	background: url('../Images/Wissensbar/ta-11.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-22 {
/*
	background: url('../Images/Wissensbar/ta-12.jpg') no-repeat;
	background-position-y: 60px;
*/
}
.slub-category-list li#category-23 {
/*
	background: url('../Images/Wissensbar/ta-13.jpg') no-repeat;
	background-position-y: 60px;
*/
}

.slub-event-show .subscription,
.slub-event-show .category {
	margin: 10px 0;
}

.slub-category-list form input[type="submit"],
.slub-event-register form input[type="submit"],
.slub-event-list a.subscribe,
.slub-event-show a.subscribe {
	position: relative;
	padding: 5px 10px !important;
	margin: 20px 0;
	font-size: 120%;
	text-decoration: none !important;
	-webkit-border-radius: 15px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius: 15px;
	-moz-border-radius-topleft:
	5px; border-radius: 15px;
	border-top-left-radius: 5px;
	background: #e0edef;
	border: 1px solid #29a;
	color: #29a;
	text-shadow: 1px 1px 0 #fff;
	font-weight: bold;
	cursor: pointer;
}
.slub-event-list a.subscribe:visited,
.slub-event-show a.subscribe:visited {
	color: #29a !important;
}

.slub-category-list .submit a.linkback,
.slub-event-list .submit a.linkback,
.slub-event-show .submit a.linkback,
.slub-event-register .submit a.linkback {
	text-decoration: none !important;
	margin: 20px 20px 20px 0;
	padding: 5px 10px;
	border-radius: 15px;
	border-top-left-radius: 5px;
	border: 1px solid #fff;
	border-color: #fff rgba(0,0,0,0.2) rgba(0,0,0,0.2) #fff;
	float: left;
	text-align: center;
	background: #e1f4f7 !important;
	color: #078 !important;
	text-shadow: 1px 1px 0 #fff;
	font-weight: bold;
	cursor: pointer;
}

.slub-category-list form input[type="submit"]:hover,
.slub-event-register form input[type="submit"]:hover,
.slub-category-list .submit a.linkback:hover,
.slub-event-list .submit a.linkback:hover,
.slub-event-list a.subscribe:hover,
.slub-event-show .submit a.linkback:hover,
.slub-event-show a.subscribe:hover,
.slub-event-register .submit a.linkback:hover,
.slub-event-register a.subscribe:hover {
	color: #c00 !important;
	background: #c3dde1 !important;
}


.slub-event-minimonth {
	background: transparent;
	overflow: auto;
}
#leftcol .slub-event-minimonth ul {
	margin: 0px;
}

.slub-event-minimonth ul.week {
	clear: left;
	width: 100%;
}
.slub-event-minimonth ul li
 {
	margin: 0;
	vertical-align: bottom;
	background-color: #dbecec;
	margin: 1px;
	text-align: center;
	list-style: none;
	float: left;
	width: 11.5%
}
.slub-event-minimonth ul.navigation li
 {
	font-size: 120%;
	border: none;
	width: 28%;
	background-color: #fff;
 }

.slub-event-minimonth ul.daynames li {
	background-color: #fff;
}

.slub-event-minimonth ul li.kw
 {
	font-size: 120%;
	color: #ccc;
	border: none;
	width: 11%;
	background-color: #fff;
 }
.slub-event-minimonth ul.week li.day-5-1,
.slub-event-minimonth ul.week li.day-5-0,
.slub-event-minimonth ul.week li.day-6-1,
.slub-event-minimonth ul.week li.day-6-0
 {
	background-color: #ebebeb;
 }
