<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:be.container
	pageTitle="Veranstaltungsmanagement"
	includeCssFiles="{
		0: '{f:uri.resource(path:\'Css/slub-event-backend.css\')}'
	}"
	includeJsFiles="{
	 0: '{f:uri.resource(path:\'Js/slub-event-backend.js\')}'
	}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">

			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="<f:translate key='tx_slubevents.be.eventmanagement' />" controller="" action="beList" />
						<f:be.menus.actionMenuItem label="<f:translate key='tx_slubevents.be.subscriberlist' />" controller="Subscriber" action="beList" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
					<f:be.buttons.csh />
				</div>
			</div>

			<div class="typo3-docheader-buttons">
				<div class="left">
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>

		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
</html>
