{namespace se=Slub\SlubEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="wibaListing">
	<ul>
		<f:for each="{wibas}" as="wiba" key="label" iteration="wibaIterator">
	       <f:if condition="<se:format.newMonthTitle events='{wibas}' index='{label}' />">
	            <f:then>
	                <li class="heading"><h4><se:format.date date="<se:format.newMonthTitle events='{wibas}' index='{label}' />" format="%B %Y" /></h4></li>
	            </f:then>
	        </f:if>

			<f:if condition="<se:condition.IsSubscriptionAllowed event='{wiba}' />">
				<f:then>
					<f:if condition="<se:format.freePlacesLeft event='{wiba}' /> >= 1">
						<f:then>
							<f:render partial="Event/GbItem" arguments="{event: wiba, category: category, eventIterator:wibaIterator}"/>
						</f:then>
					</f:if>
				</f:then>
			</f:if>
		</f:for>
	</ul>
</f:section>

<f:section name="main">

<div class="slub-event-gblist" id="book-me-now">

	<f:if condition="{contactSelectionWarning}">
		<f:then>
			Bitte wählen Sie einen Ansprechpartner im Backend!
		</f:then>
		<f:else>

			<div class="contacts">
				<p><f:translate key="tx_slubevents.gb.i_consult_you" /></p>
				<f:for each="{contacts}" as="contact">
					<div class="single-contact">
						<f:if condition="{contact.photo}">
							<f:then>
								<div class="photo">
									<f:image src='uploads/tx_slubevents/{contact.photo}' alt="Porträt von {contact.name}" title="{contact.name -> f:format.stripTags()}" maxWidth="100" />
								</div>
								<div class="description"><span class="name">{contact.name}</span><f:format.html>{contact.description}</f:format.html></div>
							</f:then>
						</f:if>
					</div>
				</f:for>
				<div class="clear"></div>
			</div>

			<br style="clear:both">

			<f:if condition="{showWiba}">
				<f:then>
					<f:if condition="{wibas}">
						<f:then>
                                                        <h3>Wissensbar</h3>
							<f:if condition="{settings.hidePagination}">
								<f:then>
									<f:render section="wibaListing" arguments="{wibas: wibas, category: category}" />
								</f:then>
								<f:else>
									<f:widget.paginate objects="{wibas}" as="paginatedWibas" configuration="{settings.list.paginate}">
										<f:render section="wibaListing" arguments="{wibas: paginatedWibas, category: category}" />
									</f:widget.paginate>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:then>
			</f:if>

			<br style="clear:both">

			<f:if condition="{showEvent}">
				<f:then>
					<f:if condition="{events}">
						<f:then>
                                                        <h3>Veranstaltungen</h3>
							<f:if condition="{settings.hidePagination}">
								<f:then>
									<f:render section="wibaListing" arguments="{wibas: events, category: category}" />
								</f:then>
								<f:else>
									<f:widget.paginate objects="{events}" as="paginatedEvents" configuration="{settings.list.paginate}">
										<f:render section="wibaListing" arguments="{wibas: paginatedEvents, category: category}" />
									</f:widget.paginate>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:then>
			</f:if>

			<br style="clear:both">

			<f:if condition="{showConsultation}">
				<f:then>
					<f:if condition="{consultation}">
						<f:then>
                                                        <h3>Sprechstunden</h3>
							<f:if condition="{settings.hidePagination}">
								<f:then>
									<f:render section="wibaListing" arguments="{wibas: consultation, category: category}" />
								</f:then>
								<f:else>
									<f:widget.paginate objects="{consultation}" as="paginatedConsultation" configuration="{settings.list.paginate}">
										<f:render section="wibaListing" arguments="{wibas: paginatedConsultation, category: category}" />
									</f:widget.paginate>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:then>
			</f:if>
		</f:else>
	</f:if>

	<f:if condition="{wibas}">
		<f:then></f:then>
		<f:else>
			<f:if condition="{events}">
				<f:then></f:then>
				<f:else>
					<f:if condition="{consultation}">
						<f:then></f:then>
						<f:else>
							<ul>
								<li><f:translate key="tx_slubevents.gb.no_date_neither_event" /></li>
							</ul>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>

</div>

</f:section>
