<f:layout name="Default" />

<f:section name="eventListing">
    <ul>
        <f:for each="{events}" as="event" key="label" iteration="eventIterator">
            <f:render partial="Event/Item" arguments="{event: event, label:label, eventIterator:eventIterator, view:'list'}" />
        </f:for>
    </ul>
</f:section>

<f:section name="main">

<div class="slub-event-list-upcoming">

<f:if condition="{events}">
    <f:then>
        <f:render section="eventListing" arguments="{events: events}" />
    </f:then>
</f:if>

</div>

</f:section>
