<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="categoryTree">
	<ul>
		<f:for each="{categories}" key="id" as="category">
			<f:render partial="Category/ItemCheckbox" arguments="{category: category, settings:settings, label:label, view:'list'}"/>

			<f:if condition="{category.children}">
				<f:render section="categoryTree" arguments="{categories: category.children, categoriesSelected: categoriesSelected}" />
			</f:if>
			</li>
		</f:for>
	</ul>
</f:section>

<f:section name="disciplineTree">
	<ul>
		<f:for each="{disciplines}" key="id" as="discipline">
			<f:render partial="Discipline/ItemCheckbox" arguments="{discipline: discipline, settings:settings, label:label, view:'list'}"/>

			<f:if condition="{discipline.children}">
				<f:render section="disciplineTree" arguments="{disciplines: discipline.children, disciplinesSelected: disciplinesSelected}" />
			</f:if>
			</li>
		</f:for>
	</ul>
</f:section>


<f:section name="main">
{namespace se=Tx_SlubEvents_ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:AddJQuery />
<t3jquery:AddJQueryAndScript jsfile="typo3conf/ext/slub_events/Resources/Public/Js/Contrib/Moment/moment.min.js"/>
<t3jquery:AddJQueryAndScript jsfile="typo3conf/ext/slub_events/Resources/Public/Js/Contrib/Fullcalendar/fullcalendar.min.js"/>
<t3jquery:AddJQueryAndScript jsfile="typo3conf/ext/slub_events/Resources/Public/Js/slub-events-fullcalendar.js"/>
<f:if condition="{settings.fullCalendarJS}">
<f:else>
	<t3jquery:AddJQueryAndScript jsfile="typo3conf/ext/slub_events/Resources/Public/Js/slub-events-fullcalendar-init.js"/>
</f:else>
</f:if>
<se:format.fullcalendar.jsFooter categories="{categoriesIds}" settings="{settings}" link="<f:uri.page pageType='182098' absolute='1' />" />


<div id="slub-category-month-list">

	<f:if condition="{categories}">
		<f:render section="categoryTree" arguments="{categories: categories}" />
	</f:if>
	<p>&nbsp;</p>
	<f:if condition="{disciplines}">
		<f:render section="disciplineTree" arguments="{disciplines: disciplines}" />
	</f:if>

</div>


</f:section>
