{namespace se=Slub\SlubEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="eventListing">
	<ul>
	<f:for each="{events}" as="event" key="label" iteration="eventIterator">
		<f:if condition="<se:format.newMonthTitle events='{events}' index='{label}' />">
			<f:then>
				<li class="heading"><h4><f:format.date date="<se:format.newMonthTitle events='{events}' index='{label}' />" format="%B %Y" /></h4></li>
			</f:then>
		</f:if>
		<f:render partial="Event/Item" arguments="{event: event, settings:settings, label:label, eventIterator:eventIterator, view:'list'}" />
	</f:for>
	</ul>
</f:section>

<f:section name="main">

<div class="slub-event-list">

<f:if condition="{events}">
	<f:then>
		<f:if condition="{settings.hidePagination}">
			<f:then>
				<f:render section="eventListing" arguments="{events: events}" />
			</f:then>
			<f:else>
                <se:pagination.paginate objects="{events}" as="paginator" itemsPerPage="{settings.list.paginate.itemsPerPage}">
                    <f:if condition="{settings.list.paginate.insertAbove}">
                        <f:render partial="Miscellaneous/Pagination" arguments="{pagination:paginator.pagination, paginator:paginator.paginator, name:paginator.name}" />
                    </f:if>

                    <f:render section="eventListing" arguments="{events: paginator.paginator.paginatedItems}" />

                    <f:if condition="{settings.list.paginate.insertBelow}">
                        <f:render partial="Miscellaneous/Pagination" arguments="{pagination:paginator.pagination, paginator:paginator.paginator, name:paginator.name}" />
                    </f:if>
                </se:pagination.paginate>
			</f:else>
		</f:if>
	</f:then>
</f:if>

</div>

</f:section>
