[general]
project     = SLUB Event Management
version     = 2.4
release     = 2.4.0
t3author    = Alexander Bigga
copyright   = 2013-2018 by the author
description = Tool for event registration and experts booking.
              This extension is developped and used in production at the Saxony
              State and University Library (SLUB) Dresden, Germany.

[notify]
about_new_builds = alexander.bigga@slub-dresden.de

[html_theme_options]
github_repository = slub/slub_events
github_branch = master

project_contact      = mailto:alexander.bigga@slub-dresden.de
project_discussions  =
project_home         = https://github.com/slub/slub_events
project_issues       = https://github.com/slub/slub_events/issues
project_repository   = https://github.com/slub/slub_events

# leave this empty
use_opensearch       =
