<table class="tx-slub-events" >
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_contact.name" />
		</td>
		<td>
			{contact.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_contact.email" />
		</td>
		<td>
			{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_contact.telephone" />
		</td>
		<td>
			{contact.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_contact.description" />
		</td>
		<td>
			{contact.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubevents_domain_model_contact.photo" />
		</td>
		<td>
			{contact.photo}
		</td>
	</tr>
</table>